Assets/*.a filter=lfs diff=lfs merge=lfs -text
Assets/*.exr filter=lfs diff=lfs merge=lfs -text
Assets/*.png filter=lfs diff=lfs merge=lfs -text
Assets/*.mp4 filter=lfs diff=lfs merge=lfs -text
Assets/*.so filter=lfs diff=lfs merge=lfs -text
Assets/*.psd filter=lfs diff=lfs merge=lfs -text
Assets/*.mp3 filter=lfs diff=lfs merge=lfs -text
Assets/*.assets filter=lfs diff=lfs merge=lfs -text
Assets/*.blend filter=lfs diff=lfs merge=lfs -text
Assets/*.zip filter=lfs diff=lfs merge=lfs -text
Assets/*.wav filter=lfs diff=lfs merge=lfs -text
Assets/*.tga filter=lfs diff=lfs merge=lfs -text
Assets/*.dll filter=lfs diff=lfs merge=lfs -text
Assets/*.jpg filter=lfs diff=lfs merge=lfs -text
Assets/*.fbx filter=lfs diff=lfs merge=lfs -text
Assets/*.blendcubemap filter=lfs diff=lfs merge=lfs -text
Assets/*.cubemap filter=lfs diff=lfs merge=lfs -text
Assets/*.exe filter=lfs diff=lfs merge=lfs -text
Assets/*.tif filter=lfs diff=lfs merge=lfs -text
Assets/*.hdr filter=lfs diff=lfs merge=lfs -text
